@model HomeViewModel

@{ 
    Layout = "_HomeLayout";
    ViewBag.Title = "Home";
    ViewBag.User = Model.User;
}

<div class="h1">
    My Lastest Projects
</div>
<partial name="~/Views/Projects/Index.cshtml" model="Model.ProjectsViewModel"/>