<!-- Test Links Widget -->
<div class="card shadow">
    <h5 class="card-header">Test This Links</h5>
    <div class="card-body">
        <div class="list-group">
            <a href="~/Home/Index" class="list-group-item list-group-item-action text-success">
                <i class="fa fa-angle-double-right"></i>
                Home/Index
            </a>
            <a href="~/Projects/Index" class="list-group-item list-group-item-action text-success">
                <i class="fa fa-angle-double-right"></i>
                Projects/Index
            </a>
            <a href="~/Projects/ProjectDetails/1" class="list-group-item list-group-item-action text-success">
                <i class="fa fa-angle-double-right"></i>
                Projects/ProjectDetails/1
            </a>
        </div>    
    </div>
</div>