<!-- My Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Developer Gallery</a>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a class="nav-item nav-link disabled" asp-area="" asp-controller="" asp-action="">Categories</a>
                <a class="nav-item nav-link" asp-area="" asp-controller="Projects" asp-action="Index">Projects</a>

            </div>
            <div class="container navbar-nav justify-content-end">
                <a class="nav-item nav-link disabled" asp-area="" asp-controller="" asp-action="">About Me</a>
                <a class="nav-item nav-link disabled" asp-area="" asp-controller="" asp-action="">Contacts</a>
            </div>
        </div>
    </div>
</nav>

